@import "variables";



.layer {

  &.cells-layer {

    rect {
      fill: rgba(186, 218, 85, 0.2);
      stroke: rgba(186, 218, 85, 0.5);
      stroke-width: 2;

      &.highlight {
        fill: rgba(255, 255, 85, 0.7);
      }
    }
  }

  &.points-layer {

    circle {
      fill: rgba(255, 0, 177, 0.9);
      stroke: rgba(255, 0, 247, 1);
      stroke-width: 3;
    }
  }

  &.places-layer {

    .place {
      fill: rgb(88, 154, 169);
      stroke: rgb(170, 233, 236);
      stroke-width: 2;
    }
  }

  &.pathfinding-layer {

    rect {
      fill: rgba(0, 0, 0, 0.2);
      stroke: rgba(0, 0, 0, 0.6);
      stroke-width: 1;
    }

    .block {
      fill: rgba(250, 0, 0, 0.5);
      stroke: rgba(250, 0, 0, 0.5);
      stroke-width: 1;
    }

    .route {
      fill: blue;
    }

    .marker-from {
      fill: green;
    }

    .marker-to {
      fill: yellow;
    }
  }

  &.path-layer {

    path {
      stroke: rgb(139, 47, 197);
      stroke-width: 10px;
      stroke-dasharray: 30;
      stroke-linecap: butt;
    }
  }
}
